{% extends "index.html" %}
{% block body %}
<!-- TO DO back to search with last performed query, write to the cookie? -->
<div class="book_details center">
	<h2 class="title">{{ book_details.title }} ({{ book_details.year }})</h2>
    <h3>by {{ book_details.author }}</h3>
    <h4>ISBN: {{ book_details.isbn }}</h4>
</div>

<div class="wrapper wrapper--w960">
	<form method="POST" action = "{{ url_for('book') }}">
    <div class="review card card-3">
		<div class="card-heading">
			<label for="rating" class="input--style-2 required">Rating</label>
			<div class="input-group rating">
                <input type="hidden" name="rating" value="3">
  				<button type="button" name="rating" value="5">&#9733;</button>
  				<button type="button" name="rating" value="4">&#9733;</button>
  				<button type="button" name="rating" value="3">&#9733;</button>
  				<button type="button" name="rating" value="2">&#9733;</button>
  				<button type="button" name="rating" value="1">&#9733;</button>
            </div>
		</div>
        <div class="card-body">
                    <h2 class="title"></h2>
                    {% if errorMessages %}
                    <div class="submit-error-alert">
                        <ul>
                            {% for errorMessage in errorMessages %}
                            <li>{{ errorMessage }}</li>
                            {% endfor%}
                        </ul>
                    </div>
                    {% endif %}
                    {% if successMessage %}
                    <div class="submit-success-alert">
                        <ul>
                            <li>{{ successMessage }}</li>
                        </ul>
                    </div>
                    {% endif %}
                        <div class="input-group">
                            <label for="password" class="input--style-2 required">Review</label>
                    		<textarea class="input--style-2 required" placeholder="" name="review_text" rows="2"></textarea> 
                		</div>
                <div class="p-t-20">
                     <button class="btn btn--radius btn--green" type="submit">Submit Review</button>
                </div>
            </form>
        </div>
    </div>

<div class="card card-3 wrapper--w960">
    <div class="search-item"> 
        <div class="card-body">
            <h2 class="title">Reviewer name + rating</h2>
            <p>Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P</p>
        </div>
    </div>
</div>

<div class="card card-3 wrapper--w960">
    <div class="search-item"> 
        <div class="card-body">
            <h2 class="title">Reviewer name + rating</h2>
            <p>Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P</p>
        </div>
    </div>
</div>
{% endblock %}