{% extends "index.html" %}
{% block body %}
<!-- TO DO back to search with last performed query, write to the cookie? -->
<div class="book-details">
	<img class="" src={{ book_details.cover_img }}>
	<h2 class="title">{{ book_details.title }} ({{ book_details.year }})</h2>
    <h3>by {{ book_details.author }}</h3>
    <h4>ISBN: {{ book_details.isbn }}</h4>
</div>

{% if GetBookReviewCounts %}
<div class="wrapper wrapper--w960">
	<div class="review card card-3">
		<div class="card-heading">
			<h1>{{ GetBookReviewCounts['books'][0]['average_rating'] }}</h1>
			<h2 class="title"> by GoodReads</h2>
		</div>
		<div class="card-body">
			<h3>Out of {{ GetBookReviewCounts['books'][0]['ratings_count'] }} ratings!</h3>
		</div>
	</div>
</div>
{% endif %}

<!--{{ username|pprint}}
{{ user_reviews[user]|pprint }}
-->
<div class="wrapper wrapper--w960">
	
	{% if UserLeftReview != True %}
	<div class="review card card-3">
		<form method="POST" action = "{{ url_for('book')}}?isbn={{ book_details.isbn }}">
			<div class="card-heading">
				<label for="rating" class="input--style-2 required">Rating</label>
				<div class="input-group rating">			
					<select name="rating">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<!--
					<input type="hidden" name="rating" value="3">
	  				<button type="button" name="rating" value="5">&#9733;</button>
	  				<button type="button" name="rating" value="4">&#9733;</button>
	  				<button type="button" name="rating" value="3">&#9733;</button>
	  				<button type="button" name="rating" value="2">&#9733;</button>
	  				<button type="button" name="rating" value="1">&#9733;</button>
	  				-->
	            </div>
	            <h2 class="title"> by {{ username }}</h2>
			</div>
	        <div class="card-body">
	                    <h2 class="title"></h2>
	                    {% if errorMessages %}
	                    <div class="submit-error-alert">
	                        <ul>
	                            {% for errorMessage in errorMessages %}
	                            <li>{{ errorMessage }}</li>
	                            {% endfor%}
	                        </ul>
	                    </div>
	                    {% endif %}
	                    {% if successMessage %}
	                    <div class="submit-success-alert">
	                        <ul>
	                            <li>{{ successMessage }}</li>
	                        </ul>
	                    </div>
	                    {% endif %}
	                            <label for="review_text" class="input--style-2 required">Review</label>
	                    		<textarea class="input--style-2" placeholder="" name="review_text" rows="3"></textarea> 
	                <div class="p-t-20">
	                     <button class="btn btn--radius btn--green" type="submit">Review Book</button>
	                </div>
	        </div>
	    </form>
    </div>
        
		{% else %}
		<div class="">
		    <h4 class="center">You have rated this book!</h4>
		</div>
		{% endif %}

</div>

{% for user_review in user_reviews %}
<div class="review card card-3 wrapper--w960">
    <div class="card-heading">
    	{% for rating in range(user_review.rating) %}
   	 	<span class="star-selected">&#9733;</span>
   	 	{% endfor %}
   	 	{% for rating in range(5 - user_review.rating) %}
        <span class="star-unselected">&#9733;</span>
        {% endfor %}
        <h2 class="title"> by {{ user_review.username }}</h2>
    </div>
    <div class="card-body">
            <p>{{ user_review.review_text }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}

