{% extends "index.html" %}
{% block body %}
<!-- TO DO back to search with last performed query, write to the cookie? -->
<div class="book-details center">
	<h2 class="title">{{ book_details.title }} ({{ book_details.year }})</h2>
    <h3>by {{ book_details.author }}</h3>
    <h4>ISBN: {{ book_details.isbn }}</h4>
</div>

<div class="wrapper wrapper--w960">
	<form method="POST" action = "{{ url_for('book') }}">
    <div class="review card card-3">
		<div class="card-heading">
			<label for="rating" class="input--style-2 required">Rating</label>
			<div class="input-group rating">			
				<select name="rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3" selected>3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<!--
				<input type="hidden" name="rating" value="3">
  				<button type="button" name="rating" value="5">&#9733;</button>
  				<button type="button" name="rating" value="4">&#9733;</button>
  				<button type="button" name="rating" value="3">&#9733;</button>
  				<button type="button" name="rating" value="2">&#9733;</button>
  				<button type="button" name="rating" value="1">&#9733;</button>
  				-->
            </div>
            <h2 class="title"> by {{ username }}</h2>
		</div>
        <div class="card-body">
                    <h2 class="title"></h2>
                    {% if errorMessages %}
                    <div class="submit-error-alert">
                        <ul>
                            {% for errorMessage in errorMessages %}
                            <li>{{ errorMessage }}</li>
                            {% endfor%}
                        </ul>
                    </div>
                    {% endif %}
                    {% if successMessage %}
                    <div class="submit-success-alert">
                        <ul>
                            <li>{{ successMessage }}</li>
                        </ul>
                    </div>
                    {% endif %}
                            <label for="review_text" class="input--style-2 required">Review</label>
                    		<textarea class="input--style-2" placeholder="" name="review_text" rows="3"></textarea> 
                <div class="p-t-20">
                     <button class="btn btn--radius btn--green" type="submit">Review Book</button>
                </div>
            </form>
        </div>
    </div>

<div class="review card card-3 wrapper--w960">
    <div class="card-heading">
   	 	<span class="star-selected">&#9733;&#9733;&#9733;&#9733;</span>
        <span class="star-unselected">&#9733;</span>
        <h2 class="title"> by Someone</h2>
    </div>
    <div class="card-body">
            <p>Review text...Lorem ipsum goes here, need to think of limitation for the lenght of reveiw and show more..:P
            Review text...Review text...Review text...Review text...</p>
    </div>
</div>
<div class="review card card-3 wrapper--w960">
    <div class="card-heading">
   	 	<span class="star-selected">&#9733;&#9733;</span>
        <span class="star-unselected">&#9733;&#9733;&#9733;</span>
        <h2 class="title"> by Else</h2>
    </div>
    <div class="card-body">
            <p>This book is just amazing, but I'll give 2 stars..</p>
    </div>
</div>

{% endblock %}

