{% extends "index.html" %}
{% block body %}

	<form class="search">
        <input type="text" placeholder="Search book title, author or ISNB" name="search"/>
        <button type="submit"-><i class="fas fa-search"></i></button>
    </form>

    <div class="card card-3 wrapper--w960">
        <div class="card-heading-3"></div>
            <div class="card-body">
                <h2 class="title">Lorem Ipsum</h2>
            </div>
        </div>



    <div class="card card-3 wrapper--w960">
        <div class="card-heading-3"></div>
            <div class="card-body">
                <h2 class="title">Dollor sit Amet, Lorem Ipsum</h2>   
            </div>
        </div>

    <div class="card card-3 wrapper--w960">
        <div class="card-heading-3"></div>
            <div class="card-body">
                <h2 class="title">Sit Amet</h2>
      
            </div>
        </div>

{% endblock %}