{% extends "index.html" %}
{% block body %}

	<form class="search" method="POST" action="{{ url_for('search') }}">
        
        <input type="text" placeholder="Search book title, author or ISNB" name="search" {% if query %} value="{{ query }} {% endif %}"/>
        
        <button type="submit"-><i class="fas fa-search"></i></button>
    </form>

    {% if errorMessage %}
    <div class="card card-3 wrapper--w960">
        <div class="card-body">
            <h3 class="submit-error-alert center">{{ errorMessage }}</h3>
        </div>
    </div>
        {% endif %}

        <div class="pagination center">
        {% if pagination_settings %}
            {% if pagination_settings['page'] != 1 %}
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page=1"><i class="fas fa-angle-double-left"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-double-left"></i></span>
            {% endif %}

            {% if pagination_settings['previous_page'] %}    
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['previous_page'] }}"><i class="fas fa-angle-left"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-left"></i></span>
            {% endif %}

            <span class="title">Page {{ pagination_settings['page'] }} of {{ pagination_settings['total_pages'] }}</span>

            {% if pagination_settings['next_page'] %} 
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['next_page'] }}"><i class="fas fa-angle-right"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-right"></i></span>
            {% endif %}

            {% if pagination_settings['total_pages'] != pagination_settings['page'] %}
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['total_pages']}}"> <i class="fas fa-angle-double-right"></i> </a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-double-right"></i></span>
            {% endif %}
        {% endif %}

    </div>

    {% for page_item in page_items %}
    <div class="card card-3 wrapper--w960">
        <a href="{{ url_for('book') }}?isbn={{ page_item.isbn }}">
        <div class="search-item"> 
            <div class="card-heading-3"></div>
            <div class="card-body">
                <h2 class="title">{{ page_item.title }} ({{ page_item.year }})</h2>
                <h3>by {{ page_item.author }}</h3>
                <h4>ISBN: {{ page_item.isbn }}</h4>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}

    <div class="pagination center">
        {% if pagination_settings %}
            {% if pagination_settings['page'] != 1 %}
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page=1"><i class="fas fa-angle-double-left"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-double-left"></i></span>
            {% endif %}

            {% if pagination_settings['previous_page'] %}    
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['previous_page'] }}"><i class="fas fa-angle-left"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-left"></i></span>
            {% endif %}

            <span class="title">Page {{ pagination_settings['page'] }} of {{ pagination_settings['total_pages'] }}</span>

            {% if pagination_settings['next_page'] %} 
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['next_page'] }}"><i class="fas fa-angle-right"></i></a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-right"></i></span>
            {% endif %}

            {% if pagination_settings['total_pages'] != pagination_settings['page'] %}
            <span class="nav_buttons"><a href="{{ url_for(request.endpoint) }}?q={{ query }}&page={{ pagination_settings['total_pages']}}"> <i class="fas fa-angle-double-right"></i> </a></span>
            {% else %}
            <span class="nav_buttons"><i class="fas fa-angle-double-right"></i></span>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}