{% extends "index.html" %}
{% block body %}

	<form class="search" method="POST" action="{{ url_for('search') }}">
        <input type="text" placeholder="Search book title, author or ISNB" name="search"/>
        <button type="submit"-><i class="fas fa-search"></i></button>
    </form>

    {% if errorMessage %}
         <div class="card card-3 wrapper--w960">
            <div class="card-body">
                <h3 class="submit-error-alert center">{{ errorMessage }}</h3>
            </div>
        </div>
        {% endif %}

    {% for page_item in page_items %}

    <div class="card card-3 wrapper--w960">
        <div class="card-heading-3"></div>
            <div class="card-body">
                <h2 class="title">{{ page_item.title }} ({{ page_item.year }})</h2>
                <h3>by {{ page_item.author }}</h3>
                <h4>ISBN: {{ page_item.isbn }}</h4>
            </div>
        </div>

    {% endfor %}
    <!-- To do build the url for prev. & next page somehow -->
    <div>    
    <a href="../search?q={{ query }}">{{ previous_page }} Prev</a>
    Page {{ page }} of {{ total_pages }}
    <a href="">{{ next_page }} Next</a>
    </div>

{% endblock %}